@import './reset.scss';

body {
  font-family: Futura !important;
  letter-spacing: 0.02em !important;
}

img {
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

p {
  margin: 0 !important;
}

/* font-size */
.rem1p3 {
  font-size: 1.3rem;
}

.rem1p5 {
  font-size: 1.5rem;
}

/* background */
.bg-green {
  background: #4ba3a1;
}

.bg-blue {
  background: #1a4567;
}

/* effect */
.hover {
  cursor: pointer;
}

.hover:hover {
  opacity: 0.9;
}

/* specific layout */
.money-box {
  margin: 1em 0;
  border: double 5px white;
  background: #1a4567;
  color: white;
}

.calculation-box {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border: solid 2px white;
  background: #1a4567;
  color: white;
}

.over-flow {
  overflow: auto;
}

.over-flow-height {
  height: 80%;
}

.bg-navy {
  background-color: #3c5279;
}

.icon-border {
  border: solid 1px #ffff;
}

.border-dark {
  border: solid 3px #343a40;
}

.hover-pointer {
  cursor: pointer;
  transition: all 0.3s;
}

.hover-pointer:hover {
  opacity: 0.6;
}

.btn-background-color {
  background-color: #ffff;
}

.btn-background-color:hover {
  background-color: #676767;
}

.item-card:hover {
  border: solid 2px #392bfc;
  cursor: pointer;
}

.item-card-height {
  height: 100%;
}

.click-animation:active {
  transform: translate(0, 2px);
}
